%header.header
  .header__logo
    .game__logo
      %a.hamburger-menu
      %h1.grid
        %a{:href => "/"} ゲームソフト投稿サイト
      %span.nav_toggle
        %i
        %i
        %i
      %nav.nav
        %ul.nav_menu_ul
          %li.nav_menu_li 
            = link_to "\uf015　ホーム", root_path, class: 'fa'
          %li.nav_menu_li
            = link_to "" 
          %li.nav_menu_li
            = link_to "" 
          %li.nav_menu_li
            = link_to "" 
      .form-group
        = search_form_for @search, url: games_path do |f|
          = f.text_field :name_cont ,placeholder: '検索するテキストを入力...'
          = f.submit ("検索") , class: 'btns'
      - if user_signed_in?
        .user_nav
          %ul#menu
            %li
              = current_user.nickname
              %ul
                %li
                  %a{:href => "users/#{current_user.id}"} マイページ
                %li= link_to "ログアウト", destroy_user_session_path, method: :delete
          %a.post-h{:href => "/games/new"} 投稿する
      - else
        .grid-6
          = link_to "ログイン", new_user_session_path, class: 'post'
          = link_to "新規登録", new_user_registration_path, class: 'posts'
.header.container
  = render partial: 'shared/flash'