%header.header
  .header__logo
    .game__logo
      #drawer_wrapper
        #hamburger_icon
          %span.yum
          %span.yum
          %span.yum
          %nav.menuitems
            %ul
              %li
                = link_to "\uf015　ホーム", root_path
              %li
                = link_to "テレビゲーム", videogames_path
              %li
                = link_to "PCゲーム", pcgame_index_path
              %li
                = link_to "ソーシャルゲーム", socialgame_index_path
        #drawer_background      
      %h1.grid
        %a{:href => "/"} ゲームソフト投稿サイト
      .form-group
        = search_form_for @search, url: search_games_path do |f|
          = f.text_field :name_cont ,placeholder: '検索するテキストを入力...'
          = f.submit ("検索") , class: 'btns'
      - if user_signed_in?
        .user_nav
          %ul#menu
            %li
              = current_user.nickname
              %ul
                %li
                  %a{:href => "users/#{current_user.id}"} マイページ
                %li= link_to "ログアウト", destroy_user_session_path, method: :delete
          %a.post-h{:href => "/games/new"} 投稿する
      - else
        .grid-6
          = link_to "\uf2f6 ログイン", new_user_session_path, class: 'post fa'
          = link_to "\uf234 新規登録", new_user_registration_path, class: 'posts fa'
.header.container
  = render partial: 'shared/flash'