.contents-row
  .container
    = form_tag("/gameposts/#{@games.id}",method: :patch, multipart: :true) do
      %h3 投稿する
      %img.img-h{:src => "#{@games.image}"}/
      %input.img{:name => "image", :type => "file"}/
      %h3.game ゲーム名
      %input.name{:name => "name", :placeholder => "ゲーム名", :type => "text", :value => "#{@games.name}"}/
      %h3 platform
      %input.name{:name => "platform", :placeholder => "platform", :type => "text", :value => "#{@games.platform}"}/
      %h3 genre
      %input.name{:name => "genre", :placeholder => "genre", :type => "text", :value => "#{@games.genre}"}/
      %h3 ゲームの説明文
      %textarea.text{:cols => "21", :name => "text", :placeholder => "ゲームの説明文を入力してください。168文字まで", :wrap => 'hard'}= @games.text
      .button_wrapper
        %input.btn{:type => "submit", :value => "変更する"}/
