.contents-row-h
  .container-h
    = form_for @games, url: gameposts_path, method: :post, remote: false do |f|
      = render 'layouts/error_messages', model: f.object
      %h3 投稿する
      = f.label :image, '画像ファイル'
      = f.file_field :image, class:'img-g'
      %h3.game ゲーム名
      = f.text_field :name, class:'name-h', placeholder: 'ゲーム名'
      %h3 プラットフォーム
      = f.text_field :platform, class:'name-h', placeholder: 'platform'
      %h3 ジャンル
      = f.text_field :genre, class:'name-h', placeholder: 'genre'
      %h3 ゲームの説明文
      = f.text_area :text, class: 'text-h', placeholder: 'ゲームの説明文を入力してください。'
      = f.submit '投稿', class: 'button_wrapper-h'
