.main.contents
  .main.content-rlght
    .main.content-rlght-group
      .s-padding-left-small
        .card
          - @games.each.with_index(1) do |game, i|
            .box
              %a.links{:href => "/games/#{game.id}"}
                %img.content_post{:src => "#{game.image}"}/
              %p.name-g= (game.name)
              .star
                %i{:id => "star-rate-#{game.id}"}
              :javascript
                $('#star-rate-#{game.id}').raty({
                  size: 36,
                  starOff:  '#{asset_path('star-off.png')}',
                  starOn : '#{asset_path('star-on.png')}',
                  starHalf: '#{asset_path('star-half.png')}',
                  half: true,
                  readOnly: true,
                  score: '#{game.reviews.average(:rate).to_f.round(1)}',
                });
              .div
                第
                = i
                位
    = render 'videogames/sidemenu'