<div class="review">
  <h1 class="review-h">レビュー投稿</h1>
  <%= form_for [@product,@reviews], url: new_gamepost_review_path do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div class="nickname">
      <%= f.label :nickname, style: { 'margin-right' => 10 } %>
      <%= f.text_field :nickname, placeholder: 'ニックネーム', value: '' %>
    </div>
  <div class="evaluation">
    <%= f.label :評価, style: { 'margin-right' => 8 }, value: '評価5段階' %>
    <%= f.number_field :rate, placeholder: '評価', value: 1, max: 5, min: 1, html: { class: "search__query", style: 'text-align: right;' } %>
  </div>
  <div class="review-text">
    <%= f.text_area :review, placeholder: 'ゲームの感想をお書き下さい。', style: 'width: 25%; height: 150px; border: 2px solid skyblue;' %>
  </div>
  <div class="row">
    <div class="col10 push1">
      <%= button_tag type: "submit", class: "btn btn--block" do %>
      投稿する<i class="fa fa-arrow-right"></i>
      <% end %>
    </div>
  </div>
</div>
<% end %>